[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
numpy = "*"
matplotlib = "*"
scipy = "*"
devo = {editable = true,git = "https://github.com/omardelarosa/Adaptive-DEs.git",ref = "pipenv-fixes"}
pypianoroll = "*"
sympy = "*"
black = "*"
bitarray = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
